# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.dll
*.dylib

# Ambiente virtual
.venv/
venv/
env/
ENV/

# PyInstaller
build/
dist/
*.spec

# Ícones
*.ico
*.png
*.jpg
*.jpeg

# IDE
.vscode/
.idea/
*.swp
*.swo

# Outros
*.log
*.tmp
.DS_Store
Thumbs.db